@font-face {
	font-family: 'Karla';
	src: url('./assets/Karla-Regular.ttf')
}

@font-face {
	font-family: 'Futura';
	src: url('./assets/FuturaMaxiCGBoldRegular.otf')
}

*{
	padding: 0;
	margin: 0;
	list-style: none;
}

:root {
	font-family: 'Karla';
	font-size: 16px;
	/*line-height: 24px;
	font-weight: 400;*/

	/*color-scheme: light dark;*/
	/*color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);*/

	/*font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;*/
}

/*header*/

header {
	margin: auto;
	max-width: 1400px;
	padding: 0 3em;
	padding-top: 1em;
	display: flex;
	height: 5em;
}

.logo {
	flex: 1;
}

.logo .container {
	flex: 1;
	width: 50%;
	display: flex;
	height: 100%;
}

.logo embed{
	flex: 1;
	height: 35em;
}

.navigation {
	flex: 1; 
	font-family: 'Futura';
}

.navigation ul {
	height: 100%;
	padding: 0 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation ul li {
	flex: 1;
	text-align: center;
	padding: 0 1em;
}

/*banner*/

.banner {
	height: 30em;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.banner .container {
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner h3 {
	font-family: 'Karla';
	font-weight: 100;
	margin-bottom: 1em;
}

.banner h1 {
	font-family: 'Futura';
	text-align: center;
	font-size: 3em;
}

.highlight{
	background: url('/assets/souligne.png') no-repeat;
	background-position: bottom;
	background-size: 100%;
}

.banner .quote {
	font-family: 'consolas';
	font-weight: bolder;
}

/*portofolio*/

.portofolio {
	width: auto;
	background-color: black;
	color: white;
}

.portofolio .content{
	margin: auto;
	padding: 5em 0;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.portofolio img:not(.rivieras, .avnier, .mars) {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(266deg) brightness(106%) contrast(101%);
}

.portofolio h3 {
	margin-bottom: 2em;
	font-family: 'Karla';
	text-align: center;
	font-weight: 100;
}

.portofolio .wrapper {
	padding: 0 12em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 100px;
}

.portofolio .wrapper div, .yokosite{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portofolio img {
	width: 50%;
}

/*slider*/

.slider-wrapper {
	width: 50%;
}

/*text infinite*/

.textinfinite {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3em;
	font-family: 'Futura';
	font-size: 1.2em;
	color: white;
	background-color: #ffcd1a;
	text-align: center;
	letter-spacing: 2px;
	overflow: hidden;
}

.textinfinite h2 {
	white-space: nowrap;
	animation: animinfinite 10s linear infinite;
}

@keyframes animinfinite {
	0% {
	  transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
  }
